@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
* {
  font-family: "Oswald", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}
* ul {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  align-items: center;
  cursor: pointer;
}
* ul li {
  padding: 4px 10px;
  border-radius: 3px;
  margin-left: 8px;
}
* ul li:hover {
  background-color: rgb(2, 0, 139);
}
* ul li a {
  text-decoration: none;
  color: #fff;
}
* ul li a:hover {
  color: #fff;
}
* .body {
  display: block;
}
* #responsive_alert {
  display: none;
}

.navbar {
  color: #fff;
  height: max-content;
  padding: 0.5rem 0;
  background-color: #ad0634;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  box-shadow: 0 6px 8px -4px black;
  position: sticky;
}

.logo {
  padding: 0;
  margin: 0;
  color: yellowgreen;
}
.logo:hover {
  background-color: #ad0634 !important;
}

.learn {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ad0634;
}
.learn h1 {
  color: #fff;
  margin-top: 20px;
}
.learn button {
  background-color: #ad0634;
  border: none;
  box-shadow: 0px 2px 2px black;
  color: #fff;
  border-radius: 18px;
  padding: 10px;
  cursor: pointer;
}
.learn button:hover {
  box-shadow: 0px 4px 5px black;
}
.learn img {
  width: 35vw;
  margin-top: 20px;
}

.course {
  background-color: #f5f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
}
.course h1 {
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
}
.course hr {
  width: 10%;
  box-sizing: 0px 5px 5px black;
  border: 1px solid gray;
}

.box_section_1 {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.box_section_1 .box_1 {
  margin-left: 20px;
  background-color: #fff;
  padding: 3vh 4vw;
  box-shadow: 0px 2px 2px gray;
  margin: 10px;
  border-radius: 6px;
}
.box_section_1 .box_1:hover {
  background-color: #ad0634;
  box-shadow: 0px 4px 4px gray;
}
.box_section_1 .box_1:hover svg {
  color: rgb(2, 0, 139);
}
.box_section_1 .box_1 svg {
  color: #ad0634;
}

.box_section_2 {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.box_section_2 .box_2 {
  margin-left: 20px;
  background-color: #fff;
  padding: 3vh 4vw;
  box-shadow: 0px 2px 2px gray;
  margin: 10px;
  border-radius: 6px;
  margin-top: 20px;
}
.box_section_2 .box_2:hover {
  background-color: #ad0634;
  box-shadow: 0px 4px 4px gray;
}
.box_section_2 .box_2:hover svg {
  color: rgb(2, 0, 139);
}
.box_section_2 .box_2 svg {
  color: #ad0634;
}

.top_courses {
  width: 100%;
  padding: 80px 0;
}
.top_courses .top_top {
  display: flex;
  justify-content: space-around;
}
.top_courses .pera {
  width: 60%;
}
.top_courses .pera_button {
  width: 20%;
}
.top_courses .pera_button button {
  border-radius: 20px;
  padding: 4px 18px;
  border: 1px solid black;
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 20px auto;
}

.sell_box {
  width: 100%;
  height: max-content;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.inner_sell_box {
  width: 25%;
  height: max-content;
  margin-left: 16px;
  box-shadow: 0px 2px 2px gray;
  margin-top: 25px;
  padding: 16px;
  border-radius: 5px;
}
.inner_sell_box:hover {
  box-shadow: 1px 4px 4px gray;
}
.inner_sell_box img {
  width: 100%;
  height: 180px;
  background: none;
}
.inner_sell_box img:hover {
  opacity: 0.5;
}
.inner_sell_box p {
  padding: 0;
  margin: 0;
}
.inner_sell_box h2 {
  padding: 0;
  margin: 0;
}
.inner_sell_box h3 {
  padding: 0;
  margin: 0;
}
.inner_sell_box svg {
  color: rgb(212, 212, 5);
}

.discover {
  background-color: #f5f8ff;
  width: 100%;
  padding: 30px 0;
}
.discover .container p {
  margin: 0;
}
.discover .container .text {
  padding: 25px 0;
}

.box_3 {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
.box_3 p {
  color: #fff;
  width: 22%;
  margin-left: 20px !important;
  text-align: center;
  padding: 16px;
}
.box_3 p:nth-child(1) {
  background-color: #ad0634;
}
.box_3 p:nth-child(2) {
  background-color: #6915c3;
}
.box_3 p:last-child {
  background-color: #2618c7;
}

.achieve {
  box-shadow: 0px -5px 5px -5px rgba(1, 1, 1, 0.6);
}
.achieve .achieve_text {
  display: block !important;
}
.achieve h3 {
  padding: 10px 0;
}
.achieve p {
  padding-bottom: 10px;
}
.achieve .inner_sell_box {
  text-align: center !important;
}

.discover .clients_part {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between !important;
  box-shadow: 0 0px 1px 0px;
  padding: 10px;
}
.discover .clients_left {
  width: 40%;
  padding: 16px 16px 10px 5px;
  border-right: 0.1px solid gray;
}
.discover .clients_left p {
  margin: 3.2rem 0;
}
.discover .clients_left .clennts_left_img {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: start !important;
}
.discover .clients_left .clennts_left_img img {
  width: 15%;
  height: max-content;
  border-radius: 50%;
  background-color: red;
  border: 1px solid black;
}
.discover .clients_left .clennts_left_img p {
  margin: 5px;
}
.discover .clients_left .clennts_left_img p b {
  font-size: x-large;
}
.discover .clients_right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discover .clients_right iframe {
  border: 12px solid #EFF3F2;
  border-radius: 10px;
}

.lmsedu .container {
  text-align: center;
}
.lmsedu .container ul li:hover {
  background-color: #f5f8ff;
}
.lmsedu .container a {
  color: black;
}

.our_blog .uk-position-relative {
  margin-top: 50px;
}
.our_blog ul li {
  display: flex;
  justify-content: center;
}
.our_blog ul li:hover {
  background-color: #fff;
}
.our_blog ul li .inner_sell_box {
  color: black;
}
.our_blog ul li .inner_sell_box h3 {
  color: black;
}
.our_blog ul li .date_section {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between !important;
  padding: 8px 0;
}
.our_blog ul li .read_more_section .read_more_left {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center !important;
}
.our_blog ul li .read_more_section .read_more_left svg {
  padding-left: 6px;
  color: #ad0634;
}
.our_blog ul li .read_more_section .read_more_left h3 {
  color: #ad0634;
}
.our_blog ul li .read_more_right {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center !important;
}
.our_blog ul li .read_more_right svg {
  padding: 0 5px;
}

.become {
  margin-top: 40px;
  min-height: 50vh;
  background-image: url(../public/box22.jpeg);
  width: -webkit-fill-available;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: relative;
  text-align: center;
}
.become .middle h1 {
  color: #fff;
  padding: 2rem 0;
}
.become .middle input {
  padding: 1rem 2.5rem;
  width: 30vw;
  border-radius: 100px;
}
.become .middle button {
  padding: 1rem 2.5rem;
  border-radius: 100px;
  margin-left: -80px;
}

.button {
  background-color: #2B2563;
  overflow: hidden;
}
.button .container .ul_column {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button .container .ul_column ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.button p {
  color: #fff;
  float: right;
  padding-bottom: 50px;
}

@media only screen and (max-width: 660px) {
  .body {
    display: none;
  }
  #responsive_alert {
    columns: red;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: yellowgreen;
  }
}

/*# sourceMappingURL=style.css.map */
